@charset "utf-8";
/* CSS Document */


@font-face {
	font-family:'NanumGothic';
	font-style: normal;
	font-weight: 400;
	src: url(/font/NanumGothic.eot);
	src: local('.'),
		 url(/font/NanumGothic.eot?#iefix) format('embedded-opentype'),
		 url(/font/NanumGothic.woff) format('woff'),
		 url(/font/NanumGothic.ttf) format('truetype');
}
@font-face {
	font-family:'NanumGothic';
	font-style: normal;
	font-weight: 700;
	src: url(/font/NanumGothicBold.eot);
	src: local('.'),
		 url(/font/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
		 url(/font/NanumGothicBold.woff) format('woff'),
		 url(/font/NanumGothicBold.ttf) format('truetype');
}

@font-face {
	font-family:'NanumGothicBold';
	font-style: normal;
	font-weight: 700;
	src: url(/font/NanumGothicBold.eot);
	src: local('.'),
		 url(/font/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
		 url(/font/NanumGothicBold.woff) format('woff'),
		 url(/font/NanumGothicBold.ttf) format('truetype');
}




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style:none
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



caption {display:none}
p {line-height:160%}
body{font-family:'NanumGothic','Apple SD Gothic Neo','malgun gothic','dotum'; font-size:14px; letter-spacing:-1px; color:#666666}
a{color:inherit; text-decoration: none;}
a:hover{text-decoration: none;color: inherit;}
button{font-size:0; line-height:0; text-shadow:none; color:transparent;cursor:poismt_wrapter;}
select {border:1px solid #a8a8a8; padding:2px 0 5px 0; line-height:none; margin-right:5px; margin-top:-2px; vertical-align:middle}
input {border:1px solid #a8a8a8;  margin-right:5px; padding:6px}
input.radiobtn{ margin-top:-3px; vertical-align:middle; border:none;}
input.check{ background:#fff; width:15px; height:15px; margin-top:-3px; vertical-align:middle; border:none}
.textarea_re {width:550px; text-align:left; padding:10px; border:1px solid #a8a8a8}

.none {display:none}
.top_45 {margin:45px 0 0 0 }
.top_30 {margin:30px 0 0 0 }
.top_25 {margin:25px 0 0 0 }
.top_20 {margin:20px 0 0 0 }
.top_10 {margin:5px 0 0 0 }
.top_5 {margin:5px 0 0 0 }
.bottom_ma20 { margin-bottom:20px }
.bottom_pa10 { padding-bottom:10px }
.left_10 {padding-left:10px }
.right_10 {padding-right:10px }
.left_ma10 {margin-left:10px }
.left_pa50 {padding-left:50px }
.right_ma10px {margin-right:10px}
.div_none {color:#fff; text-indent:-999999px;  height:45px; clear:both;}
.txt_black {color:#000}
.txt_blue01 {color:#055bb3}
.txt_red01 {color:#d1396f}
.txt_red02 {color:#ff0000}
.txt_stit_blue {color:#086acf; font-size:16px}
.txt_stit_blue_ce {color:#086acf; font-size:16px; text-align:center;}
span.board_part {padding:0 5px}
span.explain {padding:0 0 0 0 ; display:inline-block; color:#d1396f}
span.txtline {text-decoration:underline}
span.notice_txt {display:inline-block; color:#d1396f; font-size:16px;}
a.mailtxt, a.mailtxt a:hover {text-decoration:underline; color:#d1396f}
a.txt_blue01, a.txt_blue01 a:hover {color:#055bb3; text-decoration:underline; font-weight:bold}
.blind {position:absolute; left:-9999em; overflow:hidden; width:0; height:0; line-height:0;}
.txt_bold {font-weight:bold}
.txt_stit_red {font-size:24px; color:#b30563; font-weight:700; padding-bottom:10px}